<input type="hidden" id="token" value={@token} />
<h1>The web interface is currently under development. Please contact Billy or start using the <a href="https://github.com/BillysBigFileServer/bbfs-cli" class="text-sky-400">CLI</a></h1>
